* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}


.containermain{
    display: flex;
    /* flex-direction: column-reverse; */
    
}

 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5em;
} 

#imgcanva{
    width: 500px;
    height: 500px;
    border: 1px solid black; 
    margin: 1rem;
}

#containercan {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin: 1rem;
}

    .reset-btn,
    .start-btn {
        cursor: pointer;
    }

    .btn {
        border-radius: 1em;
        border: none;
        color: #fff;
        box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
        padding: 0.8em;
    }

        /*----------------------------------  
Header
------------------------------------*/
         h1 {
            font-size: 3em;
            font-weight: 400;
        }

        h2 {
            font-size: 2.5em;
            font-weight: 600;
        }

        p {
            font-size: 1.6em;
        }

        h3 {
            font-weight: 400;
        } 

        /*----------------------------------  
Sección - Panel de puntuación
------------------------------------*/
        .score-panel {
            font-size: 1.4em;
            padding: 1em 0 2em;
        }

        .reset-btn,
        .start-btn {
            background: #000;
        }

        .timer-container {
            background: #fff;
            border-radius: 0.5em;
            color: #000;
            margin: 0.5em;
            padding: 0.5em;
        }

        .timer {
            font-size: 1em;
        }

/* 
Sección - Modal
------------------------------------*/ 
/* Modal (background) */
.modal {
    /*Ocultos por defecto */
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Color de reserva */
    background-color: rgb(46, 61, 73);
    /* Con opacidad */
    background-color: rgba(46, 61, 73, 0.6);
}

/* Contenido Modal/Caja */
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    /* 5% desde la parte superior y centrado */
    margin: 5% auto;
    border: 0.8em solid #fc4;
    padding-right: 2em;
    width: 80%;
}

/* El botón de cierre */
.close {
    align-self: flex-end;
    color: #28e;
    font-size: 5em;
}

.close:hover,
.close:focus {
    color: #5cf;
    text-decoration: none;
    cursor: pointer;
}

/* Imagen modal*/
.modal-img {
    display: inline-block;
    margin: 1em 0 1em;
    width: 20em;
}

p.stats {
    font-weight: 600;
}

p.stats:last-child {
    margin-bottom: 1em;
}

.play-again-btn {
    background: #33ffd1;
    margin-bottom: 1em;
}


@media (max-width: 600px) {
  html { font-size: 14px; }
  #play-again-btn { top: -0.4rem; }
  #play-again-btn.play-again-btn-entrance { transform: translateX(7rem); }
}