


 footer#site-footer {
              padding: 18px 0;
              background: #222222;
              color: white;
              text-align: center;
            }
footer#site-footer span.divider {
  float: none;
}
footer#site-footer h4, footer#site-footer h3 {
  text-transform: uppercase;
}
footer#site-footer a img.top {
  margin: 10px 0;
}